.title {
    margin: auto;
    text-align: center;
}
#grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header" "nav" "content";
}
title {
    grid-area: header;
}
form {
    grid-area: nav;
}
img {
    background-color: silver;
    margin: 5px;
}

#box1 {
    grid-area: "content";
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
}
#box2 {
    grid-area: "content";
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
}
#box3 {
    grid-area: "content";
    flex-direction: column;
    grid-column: 3;
    grid-row: 3;
}
.error {
    color: red;
    text-size: 20px;
}
